<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  
 	<!-- not null 이 아닌 nullable 컬럼에 null 이 넘어왔을때 jdbcType 을 명시해주지 않으면
 	TypeException이 발생한다
 	#{속성명, jdbcType=INTEGER} 각각 sql문에 따로 처리하거나 아래와 같이 한번에 처리 가능하다
 	 -->
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL" />
  	</settings>
  
  <!-- typaAliases -->
  	<typeAliases>
  		<typeAlias type="cnav.attend.dto.AttendDTO" alias="attendDTO"/>
  		<typeAlias type="cnav.poll.dto.PollDTO" alias="pollDTO"/>
  		<typeAlias type="cnav.poll.dto.PollUserDTO" alias="pollUserDTO"/>
		<typeAlias type="cnav.poll.dto.PollCommentsDTO" alias="pollCommDTO"/>
  		<typeAlias type="cnav.main.dto.BusinessDTO" alias="busDTO"/>
  		<typeAlias type="cnav.main.dto.CategoryDTO" alias="catDTO"/>
  		<typeAlias type="cnav.main.dto.UserDTO" alias="userDTO"/>
		<typeAlias type="cnav.approval.dto.ApprovalDTO" alias="approvalDTO"/>
	
		

		<typeAlias type="cnav.mail.dto.MailDTO" alias="mailDTO"/>
		<typeAlias type="cnav.reservation.dto.ReservationDTO" alias="rezDTO"/>
		<typeAlias type="cnav.calendar.dto.CalendarDTO" alias="calDTO"/>
		<typeAlias type="cnav.project.dto.ProjectDTO" alias="projectDTO"/>
		<typeAlias type="cnav.procomments.dto.ProCommentsDTO" alias="proCommentsDTO"/><!--프젝댓글 -->
		<typeAlias type="cnav.topic.dto.TopicDTO" alias="topicDTO"/>
		<typeAlias type="cnav.notice.dto.NoticeDTO" alias="noticeDTO"/>
		<typeAlias type="cnav.main.dto.NoticeDTO" alias="notiDTO"/>
		<typeAlias type="cnav.topcomments.dto.TopCommentsDTO" alias="topCommentsDTO"/>
		<typeAlias type="cnav.mypage.dto.UserInfoDTO" alias="userInfoDTO"/>
		<typeAlias type="cnav.admin.dto.AdminDTO" alias="adminDTO"/>
		<typeAlias type="cnav.mypage.dto.TopicCommDTO" alias="topCommDTO"/><!-- 마이페이지용 자게댓글dto -->
		<typeAlias type="cnav.mypage.dto.PjCommDTO" alias="pjCommDTO"/><!-- 마이페이지용 플젝댓글dto -->

  	</typeAliases>
  
   
  <!-- 매퍼들의 위치를 설정 -->
  <mappers>
  	<mapper resource="/sql/attendSQL.xml"/>
  	<mapper resource="/sql/pollSQL.xml"/>
  	<mapper resource="/sql/mainSQL.xml"/>
  	<mapper resource="/sql/ApprovalSQL.xml" />

  	<mapper resource="/sql/mailSQL.xml" />
  	<mapper resource="/sql/bizMypageSQL.xml" />
  	<mapper resource="/sql/calSQL.xml" />
  	<mapper resource="/sql/mySQL.xml" />
  	<mapper resource="/sql/rezSQL.xml" />
	<mapper resource="/sql/topicSQL.xml" />
	<mapper resource="/sql/topCommentsSQL.xml" />
	<mapper resource="/sql/noticeSQL.xml" />
	<mapper resource="/sql/adminSQL.xml" />
	<mapper resource="/sql/projectSQL.xml" />
	<mapper resource="/sql/proCommentsSQL.xml"/>


  </mappers>
  
  
  
  
  
  
  
  
  
  </configuration>