
/* 보낸 결재함 sendAppList */
.stateReject {
    background-color: #ff000070;
    border-radius:20px;
}
.stateOK {
    background-color: #1987544d;
    border-radius:20px;
}
.roading {
    background-color: #fff6004d;;
    border-radius: 20px;
}

.sendAppList-btn button {
    border: solid 1px #767676;
    background-color: #efefef;
    color: #000000;
    border-radius: 3px;
    float: right;
}

.sendAppList-btn button:hover {
	border: solid 1px #767676;
    background-color: #d2ced2a8;
    color: #000000;
    border-radius: 3px;
    float: right;
}	

/* 결재 상세 (sendAppContent) */

.appContentTitle{
	text-align: center; 
	font-size: xx-large; 
	font-weight: bold;
}

.appContentLeft {
	float: left;
}
.appContentRight {
	float: right;
	font-size: x-small;
}

.appConBtn{
	text-align: -webkit-center;
	padding-top: 30px;
}
.appConBtn button {
	border: solid 1px #767676;
    background-color: #efefef;
    color: #000000;
    border-radius: 3px;
}
.appConBtn button:hover {
	border: solid 1px #767676;
    background-color: #d2ced2a8;
    color: #000000;
    border-radius: 3px;
}
table.appContentRight td {
	border: solid thin;
	width: 40px;
	height:20px;
    text-align: center;	
}
.appAllWrap {
    text-align: -webkit-center;
    padding: 10px;
    font-size: small;
}
.approvalWrap {
    border: solid thin;
    width: 400px;
    height: 500px;
}
.approvalWrap-in {
    margin: 13px;
}    
table.appCont1{
	width:100%;
	text-align-last: center;
}
td.dd {
    background-color: #2c2d2d24;
}
table.appCont1 td{
	border: solid thin;
}
table.appCont2{
	width:100%;
	margin: 30px 0 30px 0;
	text-align-last: center;
}
table.appCont2 td{
	border: solid thin;
}

/* 결재 문서 작성 */
.appForm {
    text-align: -webkit-center;
    margin: 30px;
}
