.attendLine {
    text-align: -webkit-center;
}
.attendLine h6 {
    background-color: #ccb6d47a;
    margin: 0 350px;
    border-radius: 20px;
}
.stateOk {
    background-color: #1987544d;
    border-radius:20px;
}
.stateNow {
    background-color: #ff000070;
    border-radius:20px;
}
.stateRoading {
    background-color: #fff6004d;;
    border-radius: 20px;
}
.makePoll table input{
	background : #8a909463;
	border:2px solid #f080dd99;
	color:white;
	padding:8px 20px;
	border-radius:20px;
	margin-top:5px;
	outline :none;
}
