.searchMail form{
	text-align-last : center;
	margin-bottom: 10px;
}
/* 받은 메일함 */
.recMailList-btn button {
    border: solid 1px #767676;
    background-color: #efefef;
    color: #000000;
    border-radius: 3px;
    float: right;
}

.recMailList-btn button:hover {
	border: solid 1px #767676;
    background-color: #d2ced2a8;
    color: #000000;
    border-radius: 3px;
    float: right;
}

/* 보낸 메일함 */
.sendMailList-btn button {
    border: solid 1px #767676;
    background-color: #efefef;
    color: #000000;
    border-radius: 3px;
    float: right;
}
.sendMailList-btn button:hover {
	border: solid 1px #767676;
    background-color: #d2ced2a8;
    color: #000000;
    border-radius: 3px;
    float: right;
}

.delete .del-btn {
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #767676;
    background-color: #efefef;
    color: #000000;
    border-radius: 3px;
    font-size: 15px;
}

/*메일 내용 보기...하트*/
.mailConDiv {
	width:100%;
	margin-top: 20px;
}
.mailbox {
	border-top: 1px solid;
    text-align: -webkit-center;
}
.mailCon {
	padding: 10px; 
	height:100px;
}
.mailBtn {
	margin-top: 250px;
    text-align-last: center;
    font-size: small;
}

/*메일 보내기*/
.writeMailDiv {
	margin-top: 15px;
	font-size: 15px;
}

.wriSele {
	border-radius:15px;
	font-size: 15px;
}

.wrIn {
	padding-top: 5px;
	padding-bottom: 5px;
}

.wrIn input{
   border-radius:15px;
}

#mailContent {
	white-space:pre;
}

