
#a {


a:link { text-decoration:none; color:#000000;}

a:visited { text-decoration:none;color:#000000;}

a:active {text-decoration:none; color:#000000; }

a:hover { text-decoration:none; color:#ffffff; background-color:#cfc9cf; }

}