
/* 보낸 결재함 sendAppList */
.stateReject {
    background-color: #ff000070;
    border-radius:20px;
}
.stateOK {
    background-color: #1987544d;
    border-radius:20px;
}
.roading {
    background-color: #fff6004d;;
    border-radius: 20px;
}

.sendAppList-btn button {
    border: solid 1px #767676;
    background-color: #efefef;
    color: #000000;
    border-radius: 3px;
    float: right;
}

.tdd{
	text-align: left;
}

/* 결재 상세 (sendAppContent) */

.appContentTitle{text-align: center; 
	font-size: xx-large; 
	font-weight: bold;
}
.appContentLeft {
	float: left;
}
.appContentRight {
	float: right;
}
.appConBtn {
	text-align-last: center;
}
table.appContentRight td {
	border: solid thin;
	width: 50px;
	height:25px;
    text-align: center;	
}
.approvalWrap {
    border: solid thin;
}

table.appCont1{
	width:100%;
}
table.appCont1 td{
	border: solid thin;
}
table.appCont2{
	width:100%;
	margin: 30px 0 30px 0;
}
table.appCont2 td{
	border: solid thin;
}

/* 테이블 */
.cnavTable{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 2px #e3e3e3;
  border-radius: 0.25rem;
}

.cnavTable td{
	height:33px;
	border-bottom: solid thin lightgrey;
}
.cnavList-top {
    background-color: rgba(0, 0, 0, 0.125)
} 
.cnavTable td a {
    text-decoration: none;
    color: #212529;
}

.cnavTable td a:hover {
    color: #741c7d;
}   
.cnavTable td a:focus {
    color: #21252933;
}   
.cnavAllList{
	text-align-last : center;
}

/* 페이징 */
.pageNums-all {
    text-align: -webkit-center;
}
.pageNums{
	text-decoration: none;
    color: #000;
}

/* 메인페이지 */
#wrapAll{
	margin: 10px 30px 30px 30px;
}
#wrapAll h3{
	font-size : x-large;
	color: #741c7d;
}

.aa a:hover {
    text-decoration: none; border: #dfdfdf solid; border-width: 0 0 6px 0;
} 

.aa a:visited {
    text-decoration:none; color:#000000;
} 

.aa a:link {
    text-decoration:none; color:#000000;
} 