/*진행상태*/
.stateReject {
    background-color: #ff000070;
    border-radius:20px;
}
.stateOK {
    background-color: #1987544d;
    border-radius:20px;
}
.roading {
    background-color: #fff6004d;;
    border-radius: 20px;
}

.proList-btn button {
    border: solid 1px #767676;
    background-color: #efefef;
    color: #000000;
    border-radius: 3px;
    float: right;
}

/*프로젝트 상세(proContent)*/

.proContentTitle{text-align: center;
	font-size: xx-Large;
	font-weight: bold;
}
.proContentRight {
	float: right;
}
.proContentCenter{text-align: left;
	font-size: xx-Large;
	font-weight: bold;	
}
.proConBtn button {
	text-align-last: right;
	border: solid 1px #767676;
	color: #000000;
}
.comment{text-align: left;
	
}
.commLeft {
	text-align: left;
}
.comLeft{
	text-align: left;
}

/*프로젝트 작성,수정 */
.proForm{
	text-align: -webkit-center;
	margin: 30px;
}
/*댓글 삭제*/
.delComm{
	font-style: normal;	
	float:right;
  	margin-top : 10px;	
}

.delComm button {
   border: solid 1px #767676;
    background-color: #efefef;
    color: #000000;
    border-radius: 3px;
}
.delComm button:hover {
   border: solid 1px #767676;
    background-color: #d2ced2a8;
    color: #000000;
    border-radius: 3px;
}

