@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic:wght@800&display=swap');

*

body {
  margin: 0;
  padding : 0;
}

.bar {
  width: calc(100% - 2em);
  height: 8px;
  background: #777;
  margin: 1em;
}

.bar div {
  width: 0;
  height: 100%;
  background: #fc3232;
}


/* 처음페이지 startPage , 로그인 페이지 */
.main-container{
	margin:0;
	padding:0;
	box-sizing: border-box; 
	width:100%;
	height:100vh;
	background : linear-gradient(rgba(0,0,0,78%), rgba(0,0,0,59%)), url(/cnav/resources/imgs/universe.jpg); 
}

.main-container .header{
	width: 90%;
	height : 80px;
	margin: 0 auto;
	padding-top: 1px;
}
.main-container .header h1 a{
	text-decoration :none;
	color: #fff;
    font-family: charm;
}

.main-container .hero{
	position :absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-family: charm;	
}

.main-container .hero h2{
	font-size:60px;
	margin-bottom :20px;
}

.main-container .hero p{
	font-size:22px;
}

.main-container .hero input{
	background : none;
	border:2px solid #f080dd99;
	color:white;
	padding:10px 20px;
	border-radius:20px;
	outline :none;
	cursor: pointer;
	transition: all .4s;
}

.main-container .hero input:hover{
	background-color: #7f7982a1;
	color:#000;
}

/* 회원가입 */

.signup {
	position :absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.signup table input{
	background : #8a909463;
	border:2px solid #f080dd99;
	color:white;
	padding:8px 20px;
	border-radius:20px;
	margin-top:5px;
	outline :none;
}

.signup table select{
    background: #8a909463;
    border: 2px solid #f080dd99;
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
}    

.signup .sign-button input{
	background : none;
	border:2px solid #f080dd99;
	color:white;
	padding:10px 25px;
	border-radius:20px;
	margin-top:30px;
	outline :none;
	cursor: pointer;
	transition: all .4s;
}
.signup .sign-button input:hover{
	background-color: #7f7982a1;
	color:#000;
}

.signup table select:hover {
    color: #000;
}

/* 비즈사인업폼 */
.cate {
    border-color: #f080dd99;
}

/* 메인페이지 */
#wrapAll{
	margin: 10px 30px 30px 30px;
}
#wrapAll h3{
	font-size : x-large;
	color: #741c7d;
	font-family: 'Nanum Gothic', sans-serif;
}

/* 메인페이지 */

.bizclock{
	display: flex;
}

/* 테이블 */
.cnavTable{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 2px #e3e3e3;
  border-radius: 0.25rem;
  text-align-last: center;
}
.cnavTable td{
	height:33px;
	border-bottom: solid thin lightgrey;
}
.cnavList-top {
    background-color: rgba(0, 0, 0, 0.125)
} 
.cnavTable td a {
    text-decoration: none;
    color: #212529;
}

.cnavTable td a:hover {
    color: #741c7d;
}   
.cnavTable td a:focus {
    color: #21252933;
}   
.cnavAllList{
	text-align-last : center;
}

/* 페이징 */
.pageNums-all {
    text-align: -webkit-center;
}
.pageNums{
	text-decoration: none;
    color: #000;
}

/* 어드민 */
.adminAll {
	margin-top: 30px;
}